
.pickerColumn {
	float: left;
	margin: 0 5px 0;
	width: 242px;
}

.friendsPicker {
	height: 500px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.friendsPicker h1 {
	font-weight: normal;
	font-size: 24px;
	margin: 0 0 5px 0;
	padding: 0;
}